# E80 Computer - Pin Assignments for the Tang Primer 25K
# Copyright (C) 2026 Panos Stokas <panos.stokas@hotmail.com>

# Onboard 50 MHz crystal oscillator (frequency is specified at Board.vhd)
IO_LOC "BoardCLK" E2;
IO_PORT "BoardCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

# MAX7219 4x8x8 LED Matrix 
IO_LOC "MAX7219DIN" J5;
IO_PORT "MAX7219DIN" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "MAX7219CS" H7;
IO_PORT "MAX7219CS" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "MAX7219CLK" G8;
IO_PORT "MAX7219CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

# DIP switches
IO_LOC "DIPinput[7]" H1;
IO_PORT "DIPinput[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DIPinput[6]" K7;
IO_PORT "DIPinput[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DIPinput[5]" L7;
IO_PORT "DIPinput[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DIPinput[4]" L10;
IO_PORT "DIPinput[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DIPinput[3]" L9;
IO_PORT "DIPinput[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DIPinput[2]" J8;
IO_PORT "DIPinput[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DIPinput[1]" F7;
IO_PORT "DIPinput[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DIPinput[0]" J11;
IO_PORT "DIPinput[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

# Joystick controls
IO_LOC "Left" K9;
IO_PORT "Left" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "Right" K10;
IO_PORT "Right" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "PauseButton" J7;
IO_PORT "PauseButton" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ResetButton" H2;
IO_PORT "ResetButton" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;